# Hometask 2
(The original task is asvaliable at [github](https://github.com/korobool/hlll_course/blob/master/tasks/np_pandas.md#home-task-numpy--pandas "@korobool"))
* NumPy vs Python
    * In previous task you implemented the python program which multiplies matrices using native data types (lists only) [see this](https://github.com/korobool/hlll_course/blob/master/tasks/programming_warm_up.md), take your solution
    * Do the same using NumPy
    * Compare running time (and memory, if possible) on matrix multiplication (especially big size vector)
* Analyse dataset from https://www.kaggle.com/c/titanic competition with Pandas (files are also [here](./data/titanic))
    * find how many kids (<18 y.o) was on Titanic
    * Compute average age for men and women separately

Please note, the code bellow will run only on local PC.

## NumPy vs Python

In [1]:
# assume this notebook file is cloned from https://github.com/eremeich/study with full folder struchture
import sys
sys.path.append('../')
from t01_programming_warm_up.matrix_mult_from_scratch import matrix_dot_matrix

In [2]:
# !pip install memory_profiler
import numpy as np
from time import time
%load_ext memory_profiler

Comparing running time and memory on matrix multiplication (done for 1000x1000 matrix)

In [3]:
n=1000
X=np.random.rand(n,n)
Y=np.random.rand(n,n)

### python function which multiplies matrices using native data types (lists only)

In [4]:
start=time()
%memit matrix_dot_matrix(X,Y)
end=time()
print(f"Execution time: {end-start} seconds")

peak memory: 101.90 MiB, increment: 32.25 MiB
Execution time: 738.3549737930298 seconds

### same using NumPy

In [5]:
start=time()
%memit np.dot(X,Y)
end=time()
print(f"Execution time: {end-start} seconds")

peak memory: 92.98 MiB, increment: 11.60 MiB
Execution time: 0.21623992919921875 seconds

## Analyse dataset with Pandas
Analyse dataset from https://www.kaggle.com/c/titanic competition with Pandas
* find how many kids (<18 y.o) was on Titanic
* Compute average age for men and women separately

assume ~/.kaggle/kaggle.json contains your username and key

In [6]:
!head -c 35 ~/.kaggle/kaggle.json

{"username":"eremeich","key":"94bc1

Download dataset directly from Kaggle

In [ ]:
# !pip install kaggle
!kaggle competitions download -c titanic
# if command above results in 403 Error, please visit https://www.kaggle.com/c/titanic/data and confirm terms of use

In [8]:
import pandas as pd
data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')
data = pd.concat([data_train, data_test], sort=True)
data.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

* Find how many kids (<18 y.o) was on Titanic

In [9]:
kids = data[data['Age'] < 18]
kids.shape

(154, 12)

* Compute average age for **men** and **women** separately

In [10]:
data[data.Sex == 'male'].Age.mean()

30.58522796352584

In [11]:
data[data.Sex == 'female'].Age.mean()

28.68708762886598